<form class="form-auth" action="/auth/login" method="POST">
  <h2 class="form-auth-heading">Please Log in</h2>
  <input type="email" class="form-input" name="username" placeholder="Email address" required autofocus>
  <input type="password" id="inputPassword" name="password" class="form-input" placeholder="Password" required>
  <br>
  <!--   <a href="/oauth/facebook">Log in with Facebook</a> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

  <br>
  <p>
    Do you want to
    <a href="/auth/signup">Sign up</a>?
  </p>
</form>